# Python
.venv/
__pycache__/
*.pyc

# Local env
.env
.env.*
*.env

# Data & artifacts (runtime data ignored)
data/

# --- Allow prebuilt index files (exception to "data/" ignore) ---
!data/
!data/index/
!data/index/prebuilt/
!data/index/prebuilt/handbook.index
!data/index/prebuilt/docstore.json

# MLflow
mlruns/
mlflow/mlruns
mlflow_artifacts/

# Airflow
airflow/logs/
airflow/airflow.db
airflow/*.pid
airflow/tmp/
*.pid

# OS cruft
.DS_Store
