# Python
.venv/
__pycache__/
*.pyc

# Local env
.env
.env.*
*.env

# Data & artifacts (don’t commit runtime data)
data/
mlruns/
mlflow/mlruns
mlflow_artifacts/

# Airflow
airflow/logs/
airflow/airflow.db
airflow/*.pid
airflow/tmp/
*.pid

# OS cruft
.DS_Store
