# API & app
fastapi==0.115.0
uvicorn==0.30.6
pydantic==2.9.2
python-slugify==8.0.4
requests==2.32.3
markdownify==0.14.1
python-multipart==0.0.9

# RAG
faiss-cpu==1.8.0.post1
sentence-transformers==3.0.1
transformers==4.44.2
numpy==1.26.4
scikit-learn==1.5.1
scipy==1.11.4
joblib==1.4.2

# UI
streamlit==1.38.0

# MLflow governance
mlflow==2.16.0
pyyaml==6.0.2

# GPT
openai>=1.40.0
tiktoken>=0.7.0
python-dotenv>=1.0.1

# tests (optional)
pytest==8.3.2
